body {
	background-color: red; 
	background-size: cover;
	font-family: sans-serif;
	text-align: center;
}

h1 {
	color: black;
	font-size: 90px;
	text-align: center;
	padding-top: 100px;
}

.accordion {
	background-color: black;
	color: white;
	font-weight: bold;
	cursor: pointer;
	padding: 18px;
	width: 800px;
	border: none;
	text-align: left;
	outline: none;
	font-size: 24px;
}

.active, .accordion:hover {
	background-color: #ccc;
}

.accordion:after {
	content: '\002b';
	color: white;
	font-weight: bold;
	font-size: 40px;
	float: right;
	margin-left: 15px ;
}

.accordion-content {
	padding: 0 18px;
	box-sizing: border-box;
	background-color: #fff;
	width: 800px;
	margin: auto;
	overflow: hidden; 
	/*max-height: 0;*/
}

.accordion-content p {
	font-size: 20px;
}