{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}" id="theme_addrs">
		<title>Accordions</title>
		<script src="{% static 'js/script.js' %}"></script>
		<script>
			$( function() {
				$( "#accordion" ).accordion();
			} );
		</script>
	</head>
	<body>
		<div class="container">
		    <h1>My Accordions</h1>
		    <div id="accordion">
		    <button class="accordion">Activities</button>
		    <div class="accordion-content">
		      <p>
		        Attending College
		      </p>
		      <p>
		        Menyanyi diiringi gitar
		      </p>
		      <p>
		        Create an art on Photoshop or Illustrator
		      </p>
		    </div>


		    <button class="accordion">Organizations</button>
		    <div class="accordion-content">
		      <p>
		        Betis 2019
		      </p>
		      <p>
		        BEM Fasilkom UI Departemen Pengabdian Masyarakat
		      </p>
		    </div>


		    <button class="accordion">Achievement</button>
		    <div class="accordion-content">
		      <p>
		        Not yet :)
		      </p>
		    </div>
	  	</div>
	  	<div class="bton">
        <button type="button" name="button" id="buttonID"> Change theme </button>
      </div>


	</body>
</html>